//Palette

$primary-color: #9356DC;
/*lighten primary ne pas oublier !*/
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
/*darken tertiary ne pas oublier !*/
$wt: white;
$gray: #EAEAEA;
$light-gray: #F6F6F6;
$dark-gray: #7E7E7E;
$matte-black: #353535;
$color-gradient: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);

// shadows
$head-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

// font

$norm-font: 1rem;
$bol-font: 1.4rem;