footer {
    background: $matte-black;
    padding: 1.5rem;
    @extend %font;


    img {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(183deg) brightness(108%) contrast(103%);
        height: 20px;
        width: 90px;
        margin-bottom: 0.6rem;
    }



    li {
        margin-bottom: 0.4rem;


        i {
            margin-right: 0.5rem;
            font-size: 0.8rem;
        }

        a {
            color: $wt;
        }
    }

    @media screen and (min-width: 768px) {
        img {
            height: 30px;
            width: 100px;
        }
    }
}