header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "back logo .";

    img {
        grid-area: logo;
        align-self: center;
        justify-self: center;
        margin: 1rem;
        width: 225px;
    }

    a {
        grid-area: back;
        align-self: center;
        justify-self: center;

        i {
            font-size: 30px;
            color: black
        }
    }

    @media screen and (min-width: 992px) {
        height: 10vh;

        img {
            height: 50px;
            width: 250px;
        }

    }
}