header {
    height: 10vh;
    /*Repaire visu*/
    // background: red;
    /*Repaire visu*/
    @include center;
    box-shadow: $head-shadow;

    img {
        margin-top: 1rem;
        width: 225px;
    }
}