header {
    position: relative;
    height: 10vh;
    /*Repaire visu*/
    // background: red;
    /*Repaire visu*/
    @include center;
    // box-shadow: $head-shadow;


    img {
        margin-top: 1rem;
        width: 225px;
    }

    a {
        position: absolute;
        left: 35px;
        top: 45px;

        i {
            font-size: 30px;
            color: black
        }
    }
}