.card {
    position: relative;
    display: grid;
    margin: 1rem 0;
    height: 250px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    background: $wt;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 1fr 1fr 1fr 30px 30px;
    grid-template-areas: "img img img"
        "img img img"
        "img img img"
        "name name icon"
        "location location icon";

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .new {
        position: absolute;
        top: 12px;
        right: 12px;
        background: $tertiary-color;
        padding: 0.6rem;
        font-size: 0.8rem;
        font-weight: bold;
        color: darken($color: $tertiary-color, $amount: 34);

    }

    img {
        height: 100%;
        width: 100%;
        grid-area: img;
        object-fit: cover;
        // border-top-left-radius: 25px;
        // border-top-right-radius: 25px;
    }

    h3 {
        @extend %font;
        grid-area: name;
        align-self: end;
        padding-left: 1rem;
        margin: 0 0 0.2rem 0;
    }

    p {
        @extend %font;
        grid-area: location;
        padding-left: 1rem;

        // align-self: center;
    }

    // test ici
    .like-btn {
        grid-area: icon;
        font-size: 1.5rem;
        align-self: center;

    }
}


.selection {
    margin: 1rem 0;
    padding: 1rem;
    background: $wt;
    border-radius: 15px;
    height: 80px;
    width: 100%;

    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "name name"
        "details price";

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }


    h3 {
        @extend %font;
        grid-area: name;
        // margin: 0.5rem 0;
        align-self: center;

    }

    .details {
        font-size: 0.8rem;
        grid-area: details;
        align-self: center;
    }

    .price {
        margin-right: 1rem;
        ;
        grid-area: price;
        align-self: end;
        justify-self: end;
        font-size: 0.8rem;
        font-weight: bold;
    }
}