.card {
    position: relative;
    display: grid;
    margin: 1rem 0;
    height: 250px;
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: $shadow;
    overflow: hidden;
    background: $wt;
    grid-template-columns: 1fr 1fr 50px;
    grid-template-rows: 1fr 1fr 1fr 30px 30px;
    grid-template-areas: "img img img"
        "img img img"
        "img img img"
        "name name icon"
        "location location icon";

    &:hover {
        box-shadow: $more-shadow
    }

    .new {
        position: absolute;
        top: 12px;
        right: 12px;
        background: $tertiary-color;
        padding: 0.6rem;
        font-size: 0.8rem;
        font-weight: bold;
        color: darken($color: $tertiary-color, $amount: 34);

    }

    img {
        height: 100%;
        width: 100%;
        grid-area: img;
        object-fit: cover;
    }

    h3 {
        @extend %font;
        grid-area: name;
        align-self: end;
        padding-left: 1rem;
        margin: 0 0 0.2rem 0;
    }

    p {
        @extend %font;
        grid-area: location;
        padding-left: 1rem;
    }

    .like-btn {
        grid-area: icon;
        font-size: 1.5rem;
        align-self: center;

    }

    @media screen and (min-width: 768px) {
        height: 280px;

        .new {
            font-size: 1rem;
        }

        h3 {
            font-size: 1.2rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    @media screen and (min-width: 992px) {
        margin: 1rem auto;
        height: 100%;
        width: 100%;
    }
}


.selection {
    display: flex;
    margin: 1rem 0;
    background: $wt;
    border-radius: 15px;
    height: 70px;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    cursor: pointer;
    box-shadow: $shadow;


    &:hover {
        box-shadow: $more-shadow;
    }



    .grid-selection {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "name name"
            "details price";

        h3 {
            margin: 0.5rem 0 0 0.5rem;
            @extend %font;
            grid-area: name;
            align-self: center;
            margin-left: 0.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }

        .details {
            margin: 0 0 0.5rem 0.5rem;
            font-size: 0.8rem;
            grid-area: details;
            align-self: center;
            margin-left: 0.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;


        }

        .price {
            margin: 0 0.5rem 0.5rem 0;
            margin-right: 0.5rem;
            grid-area: price;
            align-self: center;
            justify-self: end;
            font-size: 0.8rem;
            font-weight: bold;
        }


    }

}