@font-face {
    font-family: 'Shrikhand';
    font-style: normal;
    font-weight: normal;
    src: local('Shrikhand Regular'), url(../../assets/fonts/Shrikhand-Regular.woff) format('woff');
    src: url(../../assets/fonts/Shrikhand-Regular.ttf) format("truetype");
    src: url(../../assets/fonts/Shrikhand-Regular.otf) format("opentype");
}