main {
    padding: 0;
}

.entry {
    height: auto;
    width: 100%;
    background: $light-gray;

    &__location {
        background: $gray;
        height: 7vh;
        @include center;
        @extend %font;


        & p {
            margin-left: 2rem;

        }
    }

    &__details {
        padding: 0 2rem;
        @include cent-col;
        text-align: center;

        & h1 {
            margin-top: 2rem;
            @extend %bold-font;
        }

        & p {
            margin-top: 1rem;
            @extend %font;
        }
    }

}